# -- Board: ColorLight-5A-75E-V71_(FT2232H)

# -- CLK
LOCATE COMP "CLK" SITE "P6";
IOBUF  PORT "CLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# -- LED
LOCATE COMP "led" SITE "T6";
IOBUF PORT "led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 



