# -- Board: colorlight-5a-75e-v71-FT2232H

# -- CLK
LOCATE COMP "CLK" SITE "P6";
IOBUF  PORT "CLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# -- LED
LOCATE COMP "led" SITE "T6";
IOBUF PORT "led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 



