set_io -nowarn rgb0 A5
set_io -nowarn rgb1 B5
set_io -nowarn rgb2 C5
set_io -nowarn pmod_1 E4
set_io -nowarn pmod_2 D5
set_io -nowarn pmod_3 E5
set_io -nowarn pmod_4 F5
set_io -nowarn pmoda_1 E4
set_io -nowarn pmoda_2 D5
set_io -nowarn pmoda_3 E5
set_io -nowarn pmoda_4 F5
set_io -nowarn clki F4
set_io -nowarn user_1 E4
set_io -nowarn user_2 D5
set_io -nowarn user_3 E5
set_io -nowarn user_4 F5
set_io -nowarn touch_1 E4
set_io -nowarn touch_2 D5
set_io -nowarn touch_3 E5
set_io -nowarn touch_4 F5
set_io -nowarn spi_mosi F1
set_io -nowarn spi_miso E1
set_io -nowarn spi_clk D1
set_io -nowarn spi_io2 F2
set_io -nowarn spi_io3 B1
set_io -nowarn spi_cs C1
set_io -nowarn usb_dn A2
set_io -nowarn usb_dp A1
set_io -nowarn usb_dp_pu A4
