#------ User LEDs -------------------------------------------------------------
set_io --warn-no-port q 1  # output

# ------------ User push buttons ----------------------------------------------
set_io --warn-no-port d 31  # input

# -------------------------- SYSTEM CLOCK -------------------------------------
set_io --warn-no-port clk 94  # input