*.sconsign.dblite
*.pyc
*.asc
*.bin
*.rpt
*.blif
*.eggs
*.egg-info
*.swp
*~
.coverage
.coverage.*
.tox/
.cache/
.pytest_cache/
.venv/
build/
dist/
htmlcov/
__pycache__/
docs/_build/*
env/
venv/
examples/
ice-build/
work/
test-colorlight-v61.ice
_build
hardware.json
hardware.out
hardware.vlt
hardware.bit
hardware.config
hardware.pnr
hardware.dot
hardware.svg
*.out
*.vcd
.DS_Store
abc.history
temp-*
.run.sh
,coverage.*