*.pyc
*.asc
*.bin
*.rpt
*.blif
*.eggs
*.egg-info
*.swp
*~
.sconsign.dblite
.coverage
.coverage.*
.tox/
.cache/
.pytest_cache/
.venv/
build/
dist/
_dist/
ice-build
ice-build/
ice-build/*
_build/
_dist/
_site/
htmlcov/
_pytest-coverage/
__pycache__/
env/
venv/
examples/
ice-build/
work/
_work/
test-colorlight-v61.ice
_build
hardware.json
hardware.out
hardware.vlt
hardware.bit
hardware.config
hardware.pnr
graph.dot
graph.svg
*.out
*.vcd
.DS_Store
abc.history
temp-*
.run.sh
,coverage.*
