*.sconsign.dblite
*.pyc
*.asc
*.bin
*.rpt
*.blif
*.eggs
*.egg-info
*.swp
*~
.coverage
.tox/
.cache/
.pytest_cache/
.vscode/
.venv/
build/
dist/
htmlcov/
__pycache__/
docs/_build/*
env/
venv/
examples/
ice-build/
work/
test-colorlight-v61.ice
test2
test-examples/
hardware.json
hardware.out
*.out
*.vcd
hardware.bit
hardware.config
.DS_Store
