# Configuration file for pylint.

[MESSAGES CONTROL]
# Do not warn about TODOs.
# Do not warn about too few public methods in a class.
disable=fixme,too-few-public-methods

[SIMILARITIES]
# Reducing the sensitivity of duplicate code (default is 4)
min-similarity-lines=15
