# Configuration file for pylint.

[MESSAGES CONTROL]
# Do not warn about TODOs.
# Do not warn about too few public methods in a class.
# Do not complain about string.format(...)
disable=fixme,too-few-public-methods,consider-using-f-string

# Warn about unnecessary pylint disable=x directives.
enable=useless-suppression


[SIMILARITIES]
# Reducing the sensitivity of duplicate code (default is 4)
min-similarity-lines=30


[TYPECHECK]
# This prevents false proto buffers related warnings.
# It tells pylint to use the definitions in the .pyi stubs instead of the
# cryptic protocol buffers .py files.
prefer-stubs=yes
