# The project name.
site_name: Apio 1.x.x Documentation

# The temporary directory with the generated site.
site_dir: _site

plugins:
  - search

extra_css:
  - stylesheets/extra.css

theme:
  name: material

  # This controls the behavior of the navigation.
  features:
    - navigation.sections # Enables second-level grouping
    - navigation.expand # Expands all sections and subsections by default
    - navigation.tabs
    - content.code.copy # 'copy' button in code blocks

markdown_extensions:
  - admonition
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - toc:
      permalink: true

# Navigation tree
nav:
  - Home: index.md
  - Getting Started:
      - Quick start: quick-start.md
      - System requirements: system-requirements.md
      - Installing Apio IDE: installing-apio-ide.md
      - Installing Apio CLI: installing-apio-cli.md
      - Video tutorial: video-tutorial.md
      - Migrating from Apio 0.9.5: migrating-from-apio-0.9.5.md
  - Apio Commands:
      - Commands list: commands-list.md
      - api: cmd-apio-api.md
      - boards: cmd-apio-boards.md
      - build: cmd-apio-build.md
      - clean: cmd-apio-clean.md
      - create: cmd-apio-create.md
      - devices: cmd-apio-devices.md
      - docs: cmd-apio-docs.md
      - drivers: cmd-apio-drivers.md
      - examples: cmd-apio-examples.md
      - format: cmd-apio-format.md
      - fpgas: cmd-apio-fpgas.md
      - graph: cmd-apio-graph.md
      - info: cmd-apio-info.md
      - lint: cmd-apio-lint.md
      - packages: cmd-apio-packages.md
      - preferences: cmd-apio-preferences.md
      - raw: cmd-apio-raw.md
      - report: cmd-apio-report.md
      - sim: cmd-apio-sim.md
      - test: cmd-apio-test.md
      - upgrade: cmd-apio-upgrade.md
      - upload: cmd-apio-upload.md
  - Apio Projects:
      - Project structure: project-structure.md
      - Project file apio.ini: project-file.md
  - FPGA Boards:
      - Supported boards: supported-boards.md
      - Supported FPGAs: supported-fpgas.md
      - Custom boards: custom-boards.md
      - Contributing definitions: contributing-definitions.md
      - Board drivers: board-drivers.md
  - Apio Examples:
      - Apio examples: apio-examples.md
      - Using examples: using-examples.md
      - Contributing examples: contributing-examples.md
  - Apio Tips:
      - Apio command line: command-line.md
      - Using System Verilog: using-system-verilog.md
      - Using testbenches: using-testbenches.md
      - Raw tools: raw-tools.md
  - Apio Development:
      - Apio repositories: apio-repositories.md
      - Development environment: development-environment.md
      - Apio's terminology: terminology.md
      - Command execution: command-execution.md
      - Updating the docs: updating-the-docs.md
      - Creating an Apio version: creating-apio-version.md
      - Creating a package version: creating-package-version.md
  - Help: help.md
