Package: apio 
Version: [RELEASE_VERSION]
Section: electronic
Priority: optional
Architecture: amd64
Maintainer: Jesus Arroyo jesus.jkhlg@gmail.com, https://github.com/FPGAwars/apio
Description: Open source FPGA design tool.

