# -- Board: mimas-ecp5-mini

# -- CLK
LOCATE COMP "CLK" SITE "C7";
IOBUF  PORT "CLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# -- LED
LOCATE COMP "led" SITE "E12";
IOBUF PORT "led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 



