name: build-linux-x86-64

on:
  workflow_call:

env:
  # These are set later.
  TARGET_PLATFORM: ""
  PYTHON_VERSION: ""
  APIO_REPO: ""
  APIO_COMMIT: ""
  RELEASE_TAG: ""
  PACKAGE_TAG: ""

jobs:
  build:
    # As of Nov 2025, using here ubuntu-latest results in ubuntu 24.04.03
    # which uses glibc 2.39 which results in library mismatch on older
    # ubuntu with glibc 2.39. That's why we limit to 22.04 which should
    # be forward compatible with 24.04.03.
    runs-on: ubuntu-22.04

    defaults:
      run:
        shell: bash # Set Bash as the default shell

    steps:
      - name: Check required platform
        uses: fpgawars/apio-workflows/.github/actions/check-platform@main
        with:
          os: linux
          arch: x86_64

      # - name: Checkout this repo (for builder)
      #   uses: actions/checkout@v4

      - name: Download build-info.json artifact from main job
        uses: actions/download-artifact@v4
        with:
          name: build-info
          merge-multiple: true
          path: _artifacts

      - name: Move build info
        run: |
          find _artifacts
          mv _artifacts/build-info.json .
          cat -n build-info.json

      - name: Add platform info to build info json file
        uses: fpgawars/apio-workflows/.github/actions/write-to-json-file@main
        with:
          json-file: build-info.json
          key: target-platform
          value: linux-x86-64

      - name: Format build info json file
        uses: fpgawars/apio-workflows/.github/actions/format-json-file@main
        with:
          json-file: build-info.json

      - name: Set env vars from JSON
        uses: fpgawars/apio-workflows/.github/actions/set-env-from-json@main
        with:
          json-file: build-info.json
          mappings: >-
            TARGET_PLATFORM  target-platform
            PYTHON_VERSION   apio-python-version
            APIO_REPO        repo
            APIO_COMMIT      repo-commit
            APIO_VERSION     apio-cli-version
            RELEASE_TAG      release-tag
            PACKAGE_TAG      package-tag

      # -- This is the python that will be included in pyinstaller.
      - name: Install python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # We checkout the repo into a subdirectory not to step on build-info.json.
      - name: Checkout apio repo
        uses: actions/checkout@v4
        with:
          repository: ${{env.APIO_REPO}}
          ref: ${{env.APIO_COMMIT}}
          path: _apio-repo

      - name: Set apio release info
        uses: ./_apio-repo/.github/actions/set-apio-release-info
        with:
          repo_path: _apio-repo
          platform_id: ${{env.TARGET_PLATFORM}}
          release_type: pyinst
          release_tag: ${{env.RELEASE_TAG}}

      - name: Pip install apio
        run: |
          python -m pip install --upgrade pip
          pip install -e _apio-repo

      - name: Pip install pyinstaller
        run: |
          pip install pyinstaller

      - name: Setup working directories
        run: |
          mkdir _work
          mkdir _dist
          pwd
          ls -la .

      - name: Run pyinstaller
        run: |
          pyinstaller \
            --log-level=DEBUG \
            --workpath _work \
            --distpath _dist \
            _apio-repo/.github/workflows/resources/apio-pyinstaller.spec
          echo "_dist:"
          ls -al _dist
          echo "_dist/apio:"
          ls -al _dist/apio

      - name: Show symlinks
        run: |
          # Per the link below, _dist may contain symlinks that
          # we need to propagate all the way.
          # https://github.com/orgs/pyinstaller/discussions/9166
          echo "Searching for symlinks:"
          find _dist -type l

      - name: Add the build info file
        run: |
          cp build-info.json _dist/apio/BUILD-INFO.json
          cat -n _dist/apio/BUILD-INFO.json

      - name: Add the LICENSE file
        run: |
          cp _apio-repo/LICENSE _dist/apio
          cat _dist/apio/LICENSE

      - name: Add the 'readme' file
        run: |
          cat <<EOF > _dist/apio/README.txt
          This is the Apio file bundle for Linux x86-64.

          For installation instructions see
          https://fpgawars.github.io/apio/installing-apio/#linux-x86-bundle

          For bundle information see BUILD-INFO.json.
          EOF

      - name: List the bundle files
        run: |
          find _dist

      # We use .tgz and not .zip to preserve symlinks.
      - name: Compress the pyinstaller bundle
        run: |
          pushd _dist
          bundle="apio-cli-linux-x86-64-${PACKAGE_TAG}-bundle.tgz"
          # zip -r -y ../${bundle} apio
          tar zcf ../${bundle} apio
          popd
          ls -al

      - name: Populate the debian package
        run: |
          mkdir _debian

          # -- /opt/apio. We mv rather than cp to maintain internal symlinks.
          mkdir -p _debian/opt/apio
          # We mv instead of cp to preserve symlinks.
          mv _dist/apio/apio _debian/opt/apio
          mv _dist/apio/_internal _debian/opt/apio

          # /usr/local/bin
          mkdir -p _debian/usr/local/bin
          pushd _debian/usr/local/bin
          ln -s ../../../opt/apio/apio apio
          popd

          # Package control file
          mkdir _debian/DEBIAN
          control="_debian/DEBIAN/control"
          sed "s/\[APIO_VERSION\]/${APIO_VERSION}/g" _apio-repo/.github/workflows/resources/linux/control.template > ${control}

          # Show info
          find _debian
          cat -n ${control}

      - name: Set permissions for debian control file
        run: find _debian/DEBIAN -type f -exec chmod 644 {} \;

      - name: Build .deb package
        run: |
          dpkg-deb --build --root-owner-group _debian "apio-cli-linux-x86-64-${PACKAGE_TAG}-debian.deb"
          ls -l

      # -- Now that we are done with the file bundle directory
      # -- let's test it.
      - name: Uninstall all pip packages (including apio)
        uses: fpgawars/apio-workflows/.github/actions/uninstall-all-pip-packages@main

      - name: Test Apio file bundle
        uses: ./_apio-repo/.github/actions/test-apio-bundle
        with:
          apio-bundle-dir: _debian/opt/apio
          work-dir-name: _work_dir

      - name: Export the pyinstaller archive as an artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: "apio-cli-linux-x86-64-bundle"
          path: "apio-cli-linux-x86-64-${{env.PACKAGE_TAG}}-bundle.tgz"

      - name: Export the installer file as an artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: "apio-cli-linux-x86-64-debian"
          path: "apio-cli-linux-x86-64-${{env.PACKAGE_TAG}}-debian.deb"
