# A periodic workflow to test that the latest dev version is functional.
# It's not a through test by any means, more like a sanity test.

name: monitor-apio-pypi

on:
  # Run on commit.
  # push:

  # Run every 6 hours
  schedule:
    - cron: '0 */6 * * *'

  # Allow manual launch
  workflow_dispatch:

jobs:
    monitor-apio-pypi:
        runs-on: ${{ matrix.os }}

        defaults:
          run:
            shell: bash

        strategy:
            matrix:
                # 'macos-latest'    -> darwin apple silicon
                # 'macos-15-intel'  -> darwin intel x86
                os: [ubuntu-22.04, macos-latest, macos-15-intel, windows-latest]
                python-version: ['3.11', '3.12', '3.13', "3.14"]

        steps:
            - name: Show architecture
              run: uname -a

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{matrix.python-version}}

            - name: Show python version
              run: |
                python --version

            - name: Install apio from pypi
              run: |
                pip install apio

            - name: Load apio packages (slow)
              run: |
                # apio install --all
                apio packages update 

            - name: Show apio info
              run: |
                # apio system --info
                apio info system

            - name: Test ICE40 project
              run: |
                # Show commands
                set -x

                # Create a project
                mkdir ice40_project
                cd ice40_project
                apio examples fetch alhambra-ii/bcd-counter
                find .

                # Run a few command
                apio lint
                apio build
                apio test
                apio sim --no-gtkwave
                apio graph -n
                apio format
                apio devices usb
                apio devices serial

                find .

                # Check that a few files exists (fails if not)
                cd _build/default
                ls -al hardware.bin
                ls -al hardware.pnr
                ls -al graph.svg
                ls -al util/ticker_tb.vcd
