# A periodic workflow to publish the apio mkDocs at /docs dir to the github
# Pages of this repo.

name: publish-docs

on:
  push:
    # Run on push if doc related files change.
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".github/workflows/publish-docs.yaml"

  schedule:
    # Every day at 10:00 UTC
    - cron: "0 10 * * *"

  # Enables manual trigger via GitHub UI
  workflow_dispatch:

jobs:
  publish-mkdocs-docs:
    runs-on: ubuntu-latest
    # NOTE: Make sure the github-pages environment ifn the github repo
    # dashboard lists 'develop' as an allowable branch. Otherwise
    # this workflow will fail.
    environment: github-pages

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install mkDocs tools
        run: |
          pip install mkdocs
          pip install  mkdocs-material

      - name: Build pages
        run: |
          mkdocs build --strict --site-dir site

      # - name: Publish to github Pages
      #   # Push also if no change.
      #   run: |
      #     mkdocs gh-deploy --force
      #   env:
      #     GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
